.getContainer {
	position: relative;
	width: 90%;
	margin: 0 auto;
	border-radius: 5px;
	background: $white;
	padding: 4px;
	z-index: 5;
	overflow: scroll;
	height: 400px;

	.headFlex {
		width: 100%;
		display: grid;
		position: sticky;
		top: 0;
		grid-template-columns: 1fr 1fr 1fr;
		color: #000;
		border-radius: 5px 5px 0 0;
		border: none;
		outline: none;
		font-size: 8px;
		grid-template-columns: 2fr 1fr 9fr;
		grid-template-columns: 10% 10% 100%;

		@media screen and (min-width: 768px) and (max-width: 1440px) {
			font-size: 12px;
		}

		.flexItem {
			text-align: center;
			border: 1px solid #000;
			padding: 5px;
			min-width: 40px;
			background: lightsalmon;
		}
	}
	.itemFlex {
		width: 100%;

		.delete {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			color: $veryDarkBlueBg;
			cursor: pointer;
			transition: 150ms;
			font-size: 8px;

			grid-template-columns: 10% 10% 100%;
			@media screen and (min-width: 768px) and (max-width: 1440px) {
				font-size: 12px;
			}

			&:hover {
				background: hsl(228, 34%, 86%);
			}

			&:last-child {
				border-radius: 0 0 5px 5px;
				border: none;
			}

			.flexItem {
				text-align: left;
				border: 1px solid #000;
				padding: 3px;
				min-width: 40px;
			}
		}
	}
}
.warning {
	text-align: center;
	margin: 20px 0;
	font-size: 22px;
}
