.postContainer {
	position: relative;
	width: 90%;
	margin: 40px auto;
	background: $white;
	border-radius: 5px;
	z-index: 2;
	top: -500px;
	opacity: 0;
	transition: opacity 100ms, top 200ms;

	@media screen and (min-width: 768px) and (max-width: 1440px) {
		position: relative;
		width: 90%;
		margin: 0 10% 0 0;
		top: 0;
		opacity: 1;
	}

	&.active {
		top: 0;
		opacity: 1;
	}
}

.postContainer form {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px 15px;
}
.postContainer input,
.postContainer textarea {
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 5px;
}
.postContainer label {
	display: block;
	font-size: 14px;
}
textarea {
	height: 120px;
	resize: none;
}
form input,
form button,
form textarea {
	transition: 150ms;
	font-family: 'poppins', $font, sans-serif;
}
form button:hover {
	transform: scale(0.95);
}
.postContainer button,
.btn {
	display: block;
	width: 100%;
	margin-top: 20px;
	background: $darkDesaturatedBlue;
	color: white;
	padding: 4px 8px;
	border: 0;
	font-size: 18px;
	cursor: pointer;
	border-radius: 3px;
	font-family: 'poppins', $font;
}
.btn {
	border-radius: 0 0 5px 5px;
	font-size: 8px;

	@media screen and (min-width: 768px) and (max-width: 1440px) {
		display: none;
	}
}
