<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/header.ejs') %>

		<div class="not-found content">
			<h2>404 - Oops..! This page was not found.</h2>
		</div>

		<%- include('./partials/footer.ejs') %>
	</body>
</html>
