@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  width: 100%;
  font-family: "Inter", sans-serif;
  background: #1e202a;
}

header {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}
header h1 {
  font-size: 28px;
  color: white;
}
header p {
  font-size: 14px;
  padding: 5px;
  color: #8b97c6;
  opacity: 0.7;
}

.container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.getContainer {
  position: relative;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  background: white;
  padding: 4px;
  z-index: 5;
  overflow: scroll;
  height: 400px;
}
.getContainer .headFlex {
  width: 100%;
  display: grid;
  position: sticky;
  top: 0;
  grid-template-columns: 1fr 1fr 1fr;
  color: #000;
  border-radius: 5px 5px 0 0;
  border: none;
  outline: none;
  font-size: 8px;
  grid-template-columns: 2fr 1fr 9fr;
  grid-template-columns: 10% 10% 100%;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .getContainer .headFlex {
    font-size: 12px;
  }
}
.getContainer .headFlex .flexItem {
  text-align: center;
  border: 1px solid #000;
  padding: 5px;
  min-width: 40px;
  background: lightsalmon;
}
.getContainer .itemFlex {
  width: 100%;
}
.getContainer .itemFlex .delete {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #1f212e;
  cursor: pointer;
  transition: 150ms;
  font-size: 8px;
  grid-template-columns: 10% 10% 100%;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .getContainer .itemFlex .delete {
    font-size: 12px;
  }
}
.getContainer .itemFlex .delete:hover {
  background: #cfd4e7;
}
.getContainer .itemFlex .delete:last-child {
  border-radius: 0 0 5px 5px;
  border: none;
}
.getContainer .itemFlex .delete .flexItem {
  text-align: left;
  border: 1px solid #000;
  padding: 3px;
  min-width: 40px;
}

.warning {
  text-align: center;
  margin: 20px 0;
  font-size: 22px;
}

.postContainer {
  position: relative;
  width: 90%;
  margin: 40px auto;
  background: white;
  border-radius: 5px;
  z-index: 2;
  top: -500px;
  opacity: 0;
  transition: opacity 100ms, top 200ms;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .postContainer {
    position: relative;
    width: 90%;
    margin: 0 10% 0 0;
    top: 0;
    opacity: 1;
  }
}
.postContainer.active {
  top: 0;
  opacity: 1;
}

.postContainer form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 15px;
}

.postContainer input,
.postContainer textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
}

.postContainer label {
  display: block;
  font-size: 14px;
}

textarea {
  height: 120px;
  resize: none;
}

form input,
form button,
form textarea {
  transition: 150ms;
  font-family: "poppins", "Inter", sans-serif, sans-serif;
}

form button:hover {
  transform: scale(0.95);
}

.postContainer button,
.btn {
  display: block;
  width: 100%;
  margin-top: 20px;
  background: #252a41;
  color: white;
  padding: 4px 8px;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  border-radius: 3px;
  font-family: "poppins", "Inter", sans-serif;
}

.btn {
  border-radius: 0 0 5px 5px;
  font-size: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .btn {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
