@import '../colors';

.container {
	padding: 50px;
	display: flex;
	@media screen and (max-width: 480px) {
		flex-direction: column;
		padding: 20px;
	}

	.left {
		flex: 2;

		.imgContainer {
			$size: 100px;
			width: $size;
			height: $size;
			position: relative;
			margin: auto;
			@media screen and (max-width: 480px) {
				$size: 35vw;
				width: $size;
				height: $size;
			}
		}

		.table {
			width: 100%;
			border-spacing: 20px;
			@media screen and (max-width: 480px) {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
		}

		.trTitle {
			@media screen and (max-width: 480px) {
				display: none;
			}
		}

		.tr {
			text-align: center;
			@media screen and (max-width: 480px) {
				display: flex;
				flex-direction: column;
				margin-bottom: 20px;
			}
		}

		.name {
			font-weight: 500;
			color: $clr-primary;
			font-size: 18px;
		}

		.total {
			font-weight: 500;
			font-size: 18px;
		}

		@media screen and (max-width: 480px) {
			.name,
			.total {
				font-size: 24px;
			}
			.extras,
			.price,
			.quantity {
				font-size: 22px;
			}
			.price::before {
				content: 'Price: ';
				font-weight: 500;
			}
			.quantity::before {
				content: 'Quantity: ';
				font-weight: 500;
			}
			.total::before {
				content: 'Total: ';
				font-weight: 500;
			}
		}
	}

	.right {
		flex: 1;

		.wrapper {
			width: 90%;
			min-height: 300px;
			background: #333;
			padding: 50px;
			padding-top: 10px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			color: $clr-white;
			@media screen and (max-width: 480px) {
				width: 100%;
			}

			.title {
				@media screen and (max-width: 480px) {
					font-size: 30px;
				}
			}

			.totalText {
				@media screen and (max-width: 480px) {
					font-size: 22px;
				}
				&Title {
					margin-right: 10px;
				}
			}

			.button {
				height: 30px;
				color: $clr-primary;
				font-weight: bold;
				cursor: pointer;
				margin-top: 20px;
				@media screen and (max-width: 480px) {
					height: auto;
					font-size: 18px;
					padding: 5px;
				}
			}
		}
	}
}
