@import '../colors';

.container {
	height: calc(100vh - 100px);
	display: flex;
	@media screen and (max-width: 480px) {
		height: auto;
		text-align: center;
		flex-direction: column;
		margin-top: 20px;
	}

	.left {
		flex: 1;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.imgContainer {
			width: 80%;
			height: 80%;
			position: relative;
			@media screen and (max-width: 480px) {
				width: 70vw;
				height: 70vw;
			}
		}
	}
	.right {
		flex: 1;
		padding: 20px;

		.title {
			@media screen and (max-width: 480px) {
				margin: 5px;
			}
		}

		.price {
			color: $clr-primary;
			font-size: 24px;
			font-weight: 400;
			border-bottom: 1px solid $clr-primary;
		}

		.sizes {
			width: 40%;
			display: flex;
			justify-content: space-between;
			@media screen and (max-width: 480px) {
				width: 100%;
				padding: 0 30px;
			}

			.size {
				width: 40px;
				height: 40px;
				position: relative;
				border: none;
				outline: none;
				cursor: pointer;

				&:first-child {
					width: 30px;
					height: 30px;
				}
				&:last-child {
					width: 50px;
					height: 50px;
				}
			}
		}

		.choose {
			@media screen and (max-width: 480px) {
				font-size: 24px;
				margin-top: 20px;
			}
		}

		.number {
			position: absolute;
			top: -5px;
			right: -20px;
			background: teal;
			color: $clr-white;
			font-size: 12px;
			border-radius: 20px;
			padding: 0 5px;
		}

		.ingredients {
			display: flex;
			margin-bottom: 30px;
			@media screen and (max-width: 480px) {
				flex-direction: column;
			}

			.option {
				display: flex;
				align-items: center;
				// justify-content: center;
				margin-right: 10px;
				font-size: 14px;
				font-weight: 500;
				@media screen and (max-width: 480px) {
					margin-bottom: 5px;
					font-size: 18px;
				}

				.checkbox {
					$size: 20px;
					width: $size;
					height: $size;
					@media screen and (max-width: 480px) {
						$size: 25px;
						width: $size;
						height: $size;
						margin-right: 10px;
					}
				}
			}
		}

		.quantity {
			width: 50px;
			height: 30px;
			@media screen and (max-width: 480px) {
				height: 50px;
				font-size: 18px;
				text-align: center;
			}
		}
		.button {
			height: 30px;
			margin-left: 10px;
			background: $clr-primary;
			color: $clr-white;
			border: none;
			padding: 0 10px;
			font-weight: 500;
			cursor: pointer;
			@media screen and (max-width: 480px) {
				height: 50px;
				padding: 10px 20px;
				font-size: 18px;
			}
		}
	}
}
